# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package Files
*.jar
*.war
*.ear

# Eclipse files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml
out/

# NetBeans files
nbproject/private/
build/
